<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable">


    <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>-->


    <ion-tab title="Properties" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" href="#/tab/properties">
        <ion-nav-view name="tab-properties"></ion-nav-view>
    </ion-tab>

    <ion-tab title="New" hidden="true" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" href="#/tab/newproperty">
        <ion-nav-view name="tab-newproperty"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Publish"  hidden="true" icon-off="ion-ios-cloud-upload-outline" icon-on="ion-ios-cloud-upload" href="#/tab/publish">
        <ion-nav-view name="tab-publish"></ion-nav-view>
    </ion-tab>
   
    <ion-tab title="Meetings" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/meetings">
        <ion-nav-view name="tab-Meetings"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
